<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>维也纳</title>
    <!-- 1. 引入vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
    <!-- 2. 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 3. 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <style>
        body,
        head {
            font-size: 1em;
        }

        #app {
            width: 100%;
            height: 100vh;
        }

        .container {
            height: 100vh;
            border: 1px solid red;
            position: relative;
        }

        .menu-div {
            top: 25vh;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .el-button_menu {
            font-size: 2em;
            width: 34vw;
            height: 10vh;
            margin: 10px;
        }
    </style>
    <style>
        .el-dialog_full_screen {
            width: 90vw;
            height: 90vh;
            position: relative;
            margin: 5vh auto;
        }

        .el-dialog_full_screen>.el-dialog__body {
            height: 70vh;
            overflow: scroll;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="menu-div">
                <el-button type="primary" class="el-button_menu">检查</el-button>
                <el-button type="primary" class="el-button_menu">导出</el-button>
                <el-button type="primary" class="el-button_menu">导出</el-button>
                <el-button type="primary" class="el-button_menu">导出</el-button>
            </div>
        </div>

        <el-dialog v-model="dialog.checkRoom.enabled" title="检查房间" class="el-dialog_full_screen">
            <el-form :model="dialog.checkRoom.form" class="form">
                <el-form-item label="房号" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-select v-model="dialog.checkRoom.form.roomNumber" filterable placeholder="选择房间">
                        <el-option v-for="item in rooms" :key="item" :label="item" :value="item" />
                    </el-select>
                </el-form-item>
                <el-form-item label="异味" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-input v-model="dialog.checkRoom.form.peculiarSmell"></el-input>
                </el-form-item>
                <el-form-item label="异味" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.peculiarSmell" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="门牌号" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.houseNumber" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="衣柜" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.wardrobe" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="窗户" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.window" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="墙布" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.wallCloth" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="沙发" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.sofa" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="电视遥控器" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.TVRemoteControl" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="电视" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.TV" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="厕所门" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.toiletDoor" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="洗手台胶" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.washbasinGlue" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="马桶胶" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.toiletGlue" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="天花板" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.ceiling" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="脸盆" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.washbasin" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="烧水壶" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.kettle" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="空调" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.airConditioner" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="卫生间排风扇" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.bathroomExhaustFan" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="地毯" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.carpet" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="airSwitch" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.空开" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="转椅" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.swivelChair" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="水龙头" :label-width="dialog.checkRoom.formLabelWidth">
                    <el-radio-group v-model="dialog.checkRoom.form.faucet" class="ml-4">
                        <el-radio v-for="item in radios" :key="item.value" :label="item.label" :value="item.value" />
                    </el-radio-group>
                </el-form-item>
            </el-form>
            <template #footer>
                <div class="dialog-footer">
                    <el-button @click="dialog.checkRoom.enabled = false">取消</el-button>
                    <el-button type="primary" @click="dialog.checkRoom.enabled = false">保存</el-button>
                </div>
            </template>
        </el-dialog>
    </div>
    <!--数据相关-->
    <script type="text/javascript">
        // 酒店房间
        const ROOMS = [
            8601, 8602
        ]
        // 房间缓存
        const ROOM_INFO_KEY = "roomInfoKey:${roomNumber}";
    </script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data() {
                return {
                    // 房间
                    rooms: [],
                    // 单选框
                    radios: [{ value: false, label: '错误' }, { value: true, label: '正确' }],
                    // 弹窗
                    dialog: {
                        checkRoom: {
                            enabled: true,
                            formLabelWidth: 80,
                            form: {
                                roomNumber: undefined,      // 房号
                                peculiarSmell: undefined,   // 异味
                                houseNumber: undefined,     // 门牌号
                                wardrobe: undefined,        // 衣柜
                                window: undefined,          // 窗户
                                wallCloth: undefined,       // 墙布
                                sofa: undefined,            // 沙发
                                TVRemoteControl: undefined, // 电视遥控器
                                TV: undefined,              // 电视
                                toiletDoor: undefined,      // 厕所门
                                washbasinGlue: undefined,  // 洗手台胶
                                toiletGlue: undefined,      // 马桶胶
                                ceiling: undefined,         // 天花板
                                washbasin: undefined,       // 脸盆
                                kettle: undefined,          // 烧水壶
                                airConditioner: undefined,  // 空调
                                bathroomExhaustFan: undefined,    // 卫生间排风扇
                                carpet: undefined,          // 地毯
                                airSwitch: undefined,       // 空开
                                swivelChair: undefined,     // 转椅
                                faucet: undefined,          // 水龙头
                            },
                        }
                    },
                    title: 'Hello Vue',
                    count: 0
                }
            },
            methods: {
                getRoomInfo(roomNumber) {
                    let key = getKey(ROOM_INFO_KEY, roomNumber)
                    let roomInfo = JSON.parse(getItem(key))
                    console.log(roomNumber + "房间的信息：" + roomInfo);
                    if (roomInfo === null || roomInfo === undefined) {
                        console.log("123", this.dialog.checkRoom.form.faucet);
                        this.dialog.checkRoom.form.peculiarSmell = 1;   // 异味
                        this.dialog.checkRoom.form.houseNumber = 1;     // 门牌号
                        this.dialog.checkRoom.form.wardrobe = 1;        // 衣柜
                        this.dialog.checkRoom.form.window = 1;          // 窗户
                        this.dialog.checkRoom.form.wallCloth = 1;       // 墙布
                        this.dialog.checkRoom.form.sofa = 1;            // 沙发
                        this.dialog.checkRoom.form.TVRemoteControl = 1; // 电视遥控器
                        this.dialog.checkRoom.form.TV = 1;              // 电视
                        this.dialog.checkRoom.form.toiletDoor = 1;      // 厕所门
                        this.dialog.checkRoom.form.washbasinGlue = 1;  // 洗手台胶
                        this.dialog.checkRoom.form.toiletGlue = 1;      // 马桶胶
                        this.dialog.checkRoom.form.ceiling = 1;         // 天花板
                        this.dialog.checkRoom.form.washbasin = 1;       // 脸盆
                        this.dialog.checkRoom.form.kettle = 1;          // 烧水壶
                        this.dialog.checkRoom.form.airConditioner = 1;  // 空调
                        this.dialog.checkRoom.form.bathroomExhaustFan = 1;    // 卫生间排风扇
                        this.dialog.checkRoom.form.carpet = 1;          // 地毯
                        this.dialog.checkRoom.form.airSwitch = 1;       // 空开
                        this.dialog.checkRoom.form.swivelChair = 1;     // 转椅
                        this.dialog.checkRoom.form.faucet = 1;          // 水龙头  
                        this.$forceUpdate()
                        console.log("123", this.dialog.checkRoom.form.faucet);
                    }
                },
                handleClick() {
                    console.log(rooms);
                    setItem('a', rooms);
                    console.log(getItem('a'));
                    this.count++;
                }
            },
            mounted() {
                this.rooms = ROOMS
                this.dialog.checkRoom.form.peculiarSmell = 1;
                console.log(this.dialog.checkRoom.enabled);
            },
            watch: {
                'dialog.checkRoom.form.roomNumber': {
                    handler(n, o) {
                        console.log(n);
                        this.getRoomInfo(n)
                    }
                }
            },
        })
    </script>


    <!--缓存相关-->
    <script type="text/javascript">
        const localStorage = window.localStorage;

        function getItem(key) {
            return window.localStorage.getItem(key);
        }

        function setItem(key, value) {
            return window.localStorage.setItem(key, value);
        }
    </script>
    <!--工具相关-->
    <script type="text/javascript">
        function getKey(template, ...values) {
            let result;
            for (const value of values) {
                result = template = template.replace(/\$\{[a-zA-Z0-9]+\}/, value)
            }
            return result
        }
    </script>
</body>

</html>